body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 80%; 
    max-width: 1000px; 
    padding: 24px;
    background-color: brown;
    text-align: center;
    color: white;
    font-size: 20px;
}

.quadrado {
    width: 100px;
    height: 100px;
    font-size: 80px;
    text-align: center;
    background-color: blue;
    color: white;
    border-radius: 20px;
    margin: 5px; 
}

.Jogo {
    margin: 0 auto;
    border-radius: 20px;
}

button {
    background-color: blue;
    color: white;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 20px;
}